<h2 class="page-header">{{group.name}}</h2>

{{#if currentUser}}
  {{#ifCond currentUser._id '==' group.ownerId}}
    <span class="label label-warning">You own this Group</span>
    <a class="label label-danger" id="groupSettings" name="groupSettings" href="/groupSettings/{{group._id}}">Settings</a>
  {{else}}
    {{#ifCond isMember '==' true}}
      <span class="label label-info">You're in this Group</span>
    {{else}}
      {{#ifCond hasRequested '==' true}}
        <span class="label label-success">Requested</span>
      {{else}}
        {{#ifCond group.privacy '==' "private"}}
          <a class="label label-primary" id="requestJoinGroup" name="requestJoinGroup" href="/groups/requestJoinGroup/{{group._id}}">+Request to Join</a>
        {{else}}
          <a class="label label-primary" id="joinGroup" name="joinGroup" href="/groups/joinGroup/{{group._id}}">+Join Group</a>
        {{/ifCond}}
      {{/ifCond}}
    {{/ifCond}}
  {{/ifCond}}
{{/if}}

<div>
  <br>
  <p>{{group.description}}</p>
</div>

<div name="memberList" class="loadMemberList">
  <h3>{{group.name}}'s Members</h3>
  {{#each group.members}}
    {{#each ../users}}
      {{#ifCond ../this '==' this._id}}
        <div>
          <p><a href="/profile/{{this._id}}">{{this.name}}</a><p>
          </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
</div>

{{#ifCond currentUser._id '==' group.ownerId}}
  {{#ifCond group.privacy '==' "private"}}
    <div name="requestList" class="loadRequestList">
      <h3>{{group.name}}'s Join Requests</h3>
      {{#each group.requests}}
        {{#each ../users}}
          {{#ifCond ../this '==' this._id}}
            <div>
              <p><a href="/profile/{{this._id}}">{{this.name}} <a class="label label-primary" id="acceptRequest" name="acceptRequest" href="/groups/acceptRequest/{{../../group._id}}/{{this._id}}">+Accept Join Request</a></a><p>
              </div>
          {{/ifCond}}
        {{/each}}
      {{/each}}
    </div>
  {{/ifCond}}
{{/ifCond}}
