<h2 class="page-header">{{group.name}}</h2>

{{#if currentUser}}
  {{#ifCond currentUser._id '==' group.ownerId}}
    <span class="label label-warning">You own this Group</span>
    <a class="label label-danger" id="groupSettings" name="groupSettings" href="/groupSettings/{{group._id}}">Settings</a>
  {{else}}
    {{#ifCond isMember '==' true}}
      <span class="label label-info">You're in this Group</span>
      {{#if admin}}
        {{#each admin}}
          {{#ifCond ../currentUser._id '==' this}}
            <a class="label label-danger" id="groupSettings" name="groupSettings" href="/groupSettings/{{../group._id}}">Settings</a>
          {{/ifCond}}
        {{/each}}
      {{/if}}
    {{else}}
      {{#ifCond hasRequested '==' true}}
        <span class="label label-success">Requested</span>
      {{else}}
        {{#ifCond group.privacy '==' "private"}}
          <a class="label label-primary" id="requestJoinGroup" name="requestJoinGroup" href="/groups/requestJoinGroup/{{group._id}}">+Request to Join</a>
        {{else}}
          <a class="label label-primary" id="joinGroup" name="joinGroup" href="/groups/joinGroup/{{group._id}}">+Join Group</a>
        {{/ifCond}}
      {{/ifCond}}
    {{/ifCond}}
  {{/ifCond}}
{{/if}}

<div>
  <br>
  <p>{{group.description}}</p>
</div>

<div name="memberList" class="loadMemberList">
  <h3>{{group.name}}'s Members</h3>
  {{#each group.members}}
    {{#each ../users}}
      {{#ifCond ../this '==' this._id}}
        <div>
          <p><a href="/profile/{{this._id}}">{{this.name}}</a><p>
          </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
</div>

{{#ifCond currentUser._id '==' group.ownerId}}
  {{#ifCond group.privacy '==' "private"}}
    <div name="requestList" class="loadRequestList">
      <h3>{{group.name}}'s Join Requests</h3>
      {{#each group.requests}}
        {{#each ../users}}
          {{#ifCond ../this '==' this._id}}
            <div>
              <p><a href="/profile/{{this._id}}">{{this.name}} <a class="label label-primary" id="acceptRequest" name="acceptRequest" href="/groups/acceptRequest/{{../../group._id}}/{{this._id}}">+Accept Join Request</a></a><p>
              </div>
          {{/ifCond}}
        {{/each}}
      {{/each}}
    </div>
  {{/ifCond}}
{{/ifCond}}

{{#ifCond isMember '==' true}}
  <button type="submit" class="btn btn-info" onclick="displayPostField()">Create a Post</button>
  <br><br>

  {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
  {{/if}}

  <h3 id="postHeader" style="display:none">Add a new post</h3>
  <form class="form-horizontal" method="post" action="/posts/post/group/{{group._id}}">
    <div class="form-group">
    <textarea class="form-control" rows="3" id="postField" name="postField" style="display:none"></textarea>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" id="postSubmit" style="display:none">Submit</button>
      </div>
    </div>
  </form>
{{/ifCond}}

<div>
  <a href="/posts/loadPosts/group/{{group._id}}">Load Posts</a>
</div>
<div>
  <a href = "#" onclick="hidePosts();"> Hide Posts</a>
</div>

<div class="loadthesePosts">
  {{# each posts }}
  <div class="jumbotron">
      <p><a href="/profile/{{this.userId}}">{{ this.author }}</a> : {{../group.name}}<p>
    <p>{{ this.date }}<p>
      <form method="post" action="/posts/editPost">
        <div class="form-group">
          <textarea class="form-control" id="PostText"  name="PostText" rows="10" readonly>{{this.text}}</textarea>
          {{#ifCond this.userId '==' ../currentUser._id}}
          <button type="button" id="editPost" class="postEditButton btn btn-primary">Edit Post</button>
          {{/ifCond}}
          <input name="postIdentif" value="{{this._id}}"  style="display:none" />
          </div>
      <div class="form-group">
        {{#ifCond this.userId '==' ../currentUser._id}}
        <button type= "submit" class="saveButton btn btn-warning" >Save</button>
        {{/ifCond}}
      </div>
      <p></p>
    </form>
    <form method="post" action="/comments/deletePost/">
      <div class="form-group">
        {{#ifCond this.userId '==' ../currentUser._id}}
        <button class="btn btn-danger" type="submit">Delete Post</button>
        {{else}}
          {{#ifCond ../group.ownerId '==' ../currentUser._id}}
            <button class="btn btn-danger" type="submit">Delete Post</button>
          {{/ifCond}}
        {{/ifCond}}
        <input name="postIdentif" value="{{this._id}}"  style="display:none" />
      </div>
    </form>
  </div>



  <form method="post" action="/comments/addComment/">
    Add a comment
    <div class="form-group">
      <textarea class="form-control" rows = "" id="commentTextField" name ="commentTextField" placeholder="Add Comment Here......"></textarea>
      <input name="postIdentif" value="{{this._id}}"  style="display:none" />

    </div>
    <div class="form-group">
    <button type="submit" class = "btn btn-default">Submit</button>
    </div>
    </form>
      {{#each ../comments}}
      {{#ifCond ../this._id '==' this.postId}}
      <div class="comment">
        <p><b><a href="/profile/{{this.userId}}">{{this.author}}</a>, {{this.date}}</b></p>
        <form method="post" action="/comments/editComment/">
          <div class="form-group">
            <textarea class="form-control" id="commentText"  name="commentText" readonly>{{this.text}}</textarea>
            <button type="button" class="commentEditButton btn btn-primary">Edit Comment</button>
            <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
            </div>
        <div class="form-group">
          <button type= "submit" class="saveButton btn btn-warning" >Save</button>
        </div>
        <p></p>
      </form>
      <form method="post" action="/comments/deleteComment/">
        <div class="form-group">
          <button class="btn btn-danger" type="submit">Delete Comment</button>
          <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
        </div>
      </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
</div>
