<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<button type="submit" class="btn btn-info" onclick="displayPostField()">Create a Post</button>
<br><br>


<h3 id="postHeader" style="display:none">Add a new post</h3>
<form class="form-horizontal" method="post" action="/posts/post">
  <div class="form-group">
  <textarea class="form-control" rows="3" id="postField" name="postField" style="display:none"></textarea>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="postSubmit" style="display:none">Submit</button>
    </div>
  </div>
</form>



<div>
  <a href="/posts/loadPosts">Load Posts</a>
</div>
<div>
  <a onclick="hidePosts()"> Hide Posts</a>
</div>

<div class="loadthesePosts">
  {{# each posts }}
  <div class="jumbotron">
  <p>{{ this.author }}<p>
  <p>{{ this.date }}<p>
  <h3>{{ this.text }}</h3>
</div>
<!-- {{#each comments}}
{{#ifCond this.posts._id this.comments.postId}}
{{this.posts.id}} is equal to {{this.comments.postId}}
<div class="jumbotron" style="color:red; width:50%;">
  <p>  {{this.comments.text}}</p>
  <p>  {{this.comments.date}}</p>
</div>
{{/ifCond}}
{{/each}} -->
<form method="post" action="/comments/addComment/">
  Add a comment
  <div class="form-group">
    <textarea class="form-control" rows = "2" id="commentTextField" name ="commentTextField" placeholder="Add Comment Here......"></textarea>
    <input name="postIdentif" value="{{this._id}}"  style="display:none" />
  </div>
  <div class="form-group">
  <button type="submit" class = "btn btn-default">Submit</button>
  </div>
  <div class="form-group">
    <a href="/comments/loadComments/"> Load comments </a>
    {{#each comments}}
    <div class="jumbotron" style="background:red; width:50%">
      <p>{{this.text}}</p>
      <p>{{this.date}}</p>
    </div>
    {{/each}}
  </div>
</form>
  {{/each}}
</div>
