<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<button type="submit" class="btn btn-info" onclick="displayPostField()">Create a Post</button>
<br><br>

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}


<h3 id="postHeader" style="display:none">Add a new post</h3>
<form class="form-horizontal" method="post" action="/posts/post">
  <div class="form-group">
  <textarea class="form-control" rows="3" id="postField" name="postField" style="display:none"></textarea>
  </div>
  <div class="form-group">
    <select class="form-control" id="visibility" name="visibility" style="display:none" onchange="selectCheck(this);">
      {{#ifCond currentUser.postDefault '==' "0"}}
        <option selected="selected" value="0">Visible to Everyone</option>
      {{else}}
        <option value="0">Visible to Everyone</option>
      {{/ifCond}}
      {{#ifCond currentUser.postDefault '==' "1"}}
        <option selected="selected" value="1">Visible to My Friends</option>
      {{else}}
        <option value="1">Visible to My Friends</option>
      {{/ifCond}}
      {{#ifCond currentUser.postDefault '==' "2"}}
        <option selected="selected" value="2">Visible to Only Me</option>
      {{else}}
        <option value="2">Visible to Only Me</option>
      {{/ifCond}}
      {{#ifCond currentUser.postDefault '==' "3"}}
        <option id="listOnly" selected="selected" value="3">Visible to List of Friends</option>
      {{else}}
        <option id="listOnly" value="3">Visible to List of Friends</option>
      {{/ifCond}}
    </select>
  </div>
  <div class="form-group" id="friendListDiv" style="display:none">
    {{#if friends}}
      <select size="" name="friendsList" multiple>
          {{#each friends}}
            {{#each ../users}}
              {{#ifCond this._id 'equals' ../this._id}}
                <option value="{{this._id}}">{{this.name}}
              {{/ifCond}}
            {{/each}}
          {{/each}}
      </select>
    {{else}}
      <p>No friends to show.</p>
    {{/if}}
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="postSubmit" style="display:none">Submit</button>
    </div>
  </div>
</form>



<div>
  <a href="/posts/loadPosts">Load Posts</a>
</div>
<div>
  <a href = "#" onclick="hidePosts();"> Hide Posts</a>
</div>

<div class="loadthesePosts">
  {{# each posts }}
  <div class="jumbotron">
  <p><a href="/profile/{{this.userId}}">{{ this.author }}</a><p>
  <p>{{ this.date }}<p>
    <form method="post" action="/posts/editPost">
        <textarea class="form-control" id="PostText" name="PostText" rows="10" readonly>{{this.text}}</textarea>
        {{#ifCond this.userId '==' ../currentUser._id}}
        <button type="button" id="editPost" class="postEditButton btn btn-primary">Edit Post</button>
        {{/ifCond}}
        <input name="postIdentif" value="{{this._id}}"  style="display:none" />
      {{#ifCond this.userId '==' ../currentUser._id}}
      <button type= "submit" class="postSaveButton btn btn-warning">Save</button>
      {{/ifCond}}
    <p></p>
  </form>
  <form method="post" action="/posts/deletePost/">
      {{#ifCond this.userId '==' ../currentUser._id}}
      <button class="postDeleteButton btn btn-danger" type="submit">Delete Post</button>
      {{/ifCond}}
      <input name="postIdentif" value="{{this._id}}"  style="display:none" />
  </form>
  </div>

    {{#each ../comments}}
    {{#ifCond ../this._id '==' this.postId}}
    <div class="comment">
      <p><b><a href="/profile/{{this.userId}}">{{this.author}}</a>, {{this.date}}</b></p>
      <form method="post" action="/comments/editComment/">
          <textarea class="form-control" id="commentText"  name="commentText" readonly>{{this.text}}</textarea>
          {{#ifCond this.userId '==' ../../currentUser._id}}
          <button type="button" class="commentEditButton btn btn-primary">Edit Comment</button>
          {{/ifCond}}
          <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
          <input name="userIdentif" value="{{this.userId}}"  style="display:none" />
        {{#ifCond this.userId '==' ../../currentUser._id}}
        <button type= "submit" class="saveButton btn btn-warning" >Save</button>
        {{/ifCond}}
      <p></p>
    </form>
    <form method="post" action="/comments/deleteComment/">
      <div class="form-group">
        {{#ifCond this.userId '==' ../../currentUser._id}}
        <button class="commentDeleteButton btn btn-danger" type="submit">Delete Comment</button>
        {{/ifCond}}
        <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
        <input name="userIdentif" value="{{this.userId}}"  style="display:none" />
      </div>
    </form>
    <script>
    function seePreviousComments{{this._id}}(){
      var history = '{{this.textHistory}}';
      var dateHistory = '{{this.dateHistory}}';
      var finalArr = [];
      var regex = /\s*,\s*/;
      var newHistory = history.split(regex);
      var newDate = dateHistory.split(regex);
      for(var i = 0; i<newHistory.length; i++){
        finalArr[i] = newDate[i] + ', ' + newHistory[i];
      }
      alert(finalArr.join("\n"));
    }
    </script>
    <a onclick="seePreviousComments{{this._id}}();"> Comment History</a>
    </div>
      {{/ifCond}}
    {{/each}}
    <form method="post" action="/comments/addComment/">
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      Add a comment
      <div class="form-group">
        <textarea class="form-control" rows = "" id="commentTextField" name ="commentTextField" placeholder="Add Comment Here......"></textarea>
        <input name="postIdentif" value="{{this._id}}"  style="display:none" />

      </div>
      <div class="form-group">
      <button type="submit" class = "btn btn-default">Submit</button>
      </div>
      </form>
  {{/each}}
</div>
