<h2 class="page-header">Lost Items</h2>
<p>View lost all the items in the lost and found.</p>

{{# each myItems }}
<div class="jumbotron">
<p>Description: {{ this.description }}</p>
<p>This your item that you found.</p>
{{#ifCond this.hasImage '==' true}}
<img src="/uploads/lostItems/{{this._id}}/{{this._id}}.{{this.extension}}" class="img-responsive" alt="My lost Item Pic" />

<p><a href="/lostItems/uploadItemImage/{{this._id}}"> Change photo</a></p>


{{else}}
<p>No Image to show</p>
{{/ifCond}}
<p></p>
<p></p>

{{#ifCond this.claimed '==' true}}
<p> Your item has been claimed by: <a href="/profile/{{this.claimerId}}">{{ this.claimedBy }}</a></p>
<form method="post" action="/lostItems/unclaimItem/{{this._id}}">
<div class="form-group">
  <button type= "submit" class="btn btn-info">Unclaim Item</button>
</div>
</form>
{{else}}

<p>Your item has not been claimed yet.</p>
{{/ifCond}}
<form method="post" action="/lostItems/deleteItem/{{this._id}}">
<div class="form-group">
  <button type= "submit" class="btn btn-danger">Delete Item</button>
</div>
</form>
</div>
{{/each}}

{{# each notMyItems }}
<div class="jumbotron">
<p>Description: {{ this.description }}</p>
<p> Poster:<a href="/profile/{{this.posterId}}">{{ this.poster }}</a> </p>
{{#ifCond this.hasImage '==' true}}
<img src="/uploads/lostItems/{{this._id}}/{{this._id}}.{{this.extension}}" class="img-responsive" alt="My lost Item Pic" />
{{else}}
<p>No Image to show</p>
{{/ifCond}}
<p></p>
<p></p>
  {{#ifCond this.claimed '==' false}}
    <form method="post" action="/lostItems/claimItem/{{this._id}}">
      <input name="posterId" value="{{this.posterId}}"  style="display:none" />
      <input name="phoneNumber" value="{{this.phoneNumber}}"  style="display:none" />
    <div class="form-group">
      <button type= "submit" class="btn btn-warning">Claim Item</button>
    </div>
    </form>


  {{else}}
  {{#ifCond this.claimerId '==' ../currentUser._id}}
  <p>You have claimed this item</p>


  {{else}}
  <p> This item has been claimed by: <a href="/profile/{{this.claimerId}}">{{ this.claimedBy }}</a></p>
  {{/ifCond}}

  {{/ifCond}}
  </div>
    {{/each}}
