<h2 class="page-header">Poll</h2>
<p>View and vote on polls.</p>
<hr>
<h3>Create a poll</h3>
<div class="create-poll">
  <p>Enter the name of the course.</p>
  <form method="post" action="/poll/create">
    <div class="form-group">
      <select class="selectpicker" id = "pollName" name = "pollName" title="Course">
        <option value="COMP 1000">COMP 1000</option>
        <option value="COMP 1001">COMP 1001</option>
        <option value="COMP 1002">COMP 1002</option>
        <option value="COMP 1400">COMP 1400</option>
        <option value="COMP 1510">COMP 1510</option>
        <option value="COMP 1600">COMP 1600</option>
        <option value="COMP 1710">COMP 1710</option>
        <option value="COMP 2001">COMP 2001</option>
        <option value="COMP 2510">COMP 2510</option>
        <option value="COMP 2711">COMP 2711</option>
        <option value="COMP 2718">COMP 2718</option>
        <option value="COMP 3700">COMP 3700</option>
        <option value="COMP 3715">COMP 3715</option>
        <option value="COMP 3718">COMP 3718</option>
        <option value="COMP 3719">COMP 3719</option>
        <option value="COMP 3724">COMP 3724</option>
        <option value="COMP 3725">COMP 3725</option>
        <option value="COMP 3754">COMP 3754</option>
        <option value="COMP 4712">COMP 4712</option>
        <option value="COMP 4734">COMP 4734</option>
        <option value="COMP 4740">COMP 4740</option>
        <option value="COMP 4752">COMP 4752</option>
        <option value="COMP 4759">COMP 4759</option>
        <option value="COMP 4768">COMP 4768</option>
        <option value="COMP 4770">COMP 4770</option>
        <option value="COMP 4780">COMP 4780</option>
        <option value="COMP 610W">COMP 610W</option>
        <option value="COMP 6902">COMP 6902</option>
        <option value="COMP 6904">COMP 6904</option>
        <option value="COMP 6907">COMP 6907</option>
        <option value="COMP 6908">COMP 6908</option>
        <option value="COMP 6909">COMP 6909</option>
        <option value="COMP 690B">COMP 690B</option>
        <option value="COMP 6922">COMP 6922</option>
        <option value="COMP 6931">COMP 6931</option>
        <option value="COMP 6999">COMP 6999</option>
        <option value="COMP 9000">COMP 9000</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" id="courseSubmit">Submit</button>
    </div>
  </form>
</div>

<hr>

<div>
  <a href="/poll/loadPolls">Show Polls</a>
</div>
<div>
  <a href="/polls">Hide Polls</a>
</div>

<div class="loadthesePolls">
  {{# each poll }}
  <div class="jumbotron">
    <h3>{{ this.name }}<h3>
    <form method="post" action="/poll/vote">
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="vote" value='1'>1 Star</label>
        <label class="radio-inline"><input type="radio" name="vote" value='2'>2 Stars</label>
        <label class="radio-inline"><input type="radio" name="vote" value='3'>3 Stars</label>
        <label class="radio-inline"><input type="radio" name="vote" value='4'>4 Stars</label>
        <label class="radio-inline"><input type="radio" name="vote" value='5'>5 Stars</label>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit" id="vote">Vote</button>
        <input name="pollId" value="{{this._id}}" style="display:none"/>
        <input name="pollName" value="{{this.name}}" style="display:none"/>
      </div>
    </form>
    <p> Author: <a href="/profile/{{this.userId}}">{{ this.author }}</a></p>
    <p> Total number of votes: {{#voteCount this.ratings}} {{/voteCount}}</p>
    <p>
    Average rating:  {{#ratingsAverage this.ratings}}
      {{/ratingsAverage}} stars
    </p>

  </div>
  {{/each}}
</div>
