{{#ifCond user._id 'equals' currentUser._id}}
<h2 class="page-header">My Profile</h2>
{{else}}
<h2 class="page-header">{{user.name}}'s Profile</h2>

<form method="post" action="/users/addFriend/">
  <div class="form-group">
  <input name="friendId" value="{{user._id}}" style="display:none"/>
  <button class="badge badge-success" type= "submit" id="addFriend" name="addFriend">+Add Friend</button>
  </div>
</form>
{{/ifCond}}

<a class="badge badge-success" href="mailto:{{user.email}}?body={{currentUser.email}}">{{user.email}}</a>
<span class="badge badge-primary">{{user.campus}} campus</span>


{{#ifCond user._id 'equals' currentUser._id}}
<div>
  <div>
    <a href="/users/goToUpload/"> Upload a file</a>
  </div>
</div>
{{/ifCond}}

<div name="friendsList" class="loadFriendsList">
  {{#ifCond user._id '==' currentUserId}}
  <h3>My Friends</h3>
  {{else}}
  <h3>{{user.name}}'s Friends</h3>
  {{/ifCond}}
  {{#each friendIds }}
    {{#each ../users}}
      {{#ifCond ../this '==' this._id}}
      <div>
        <p><a href="/profile/{{this._id}}">{{ this.name }}</a><p>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
</div>

{{#ifCond user._id '==' currentUserId}}
<div name="friendRequests" class="loadFriendRequests">
  <h3>My Friend Requests</h3>
  {{#if friendRequestIds}}
  {{#each friendRequestIds}}
    {{#each ../users}}
      {{#ifCond ../this '==' this._id}}
      <div>
        <form method="post" action="/users/acceptFriend/">
          <div class="form-group">
          <input name="friendId" value="{{this._id}}" style="display:none"/>
          <p><a href="/profile/{{this._id}}">{{ this.name }}</a>, <button class="badge badge-success" type= "submit" id="acceptFriend" name="acceptFriend">+Add Friend</button></p>
          </div>
        </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
  {{/if}}
  </div>
  {{else}}
  <p>No friend requests.</p>
  {{/ifCond}}
