{{#ifCond user._id 'equals' currentUser._id}}
  <h2 class="page-header">My Profile</h2>
{{else}}
  <h2 class="page-header">{{user.name}}'s Profile</h2>
  {{#ifCond isFriend '==' false}}
    <a class="label label-primary" id="addFriend" name="addFriend" href="/users/addFriend/{{user._id}}">+Add Friend</a>
  {{/ifCond}}

{{/ifCond}}

<a class="label label-warning" href="mailto:{{user.email}}?body={{currentUser.email}}">{{user.email}}</a>
<span class="label label-danger">{{user.campus}} campus</span>


{{#ifCond user._id 'equals' currentUser._id}}
    <a class="label label-success" href="/users/goToUpload/"> Upload a file</a>
{{/ifCond}}

<div name="friendsList" class="loadFriendsList">
  {{#ifCond user._id 'equals' currentUser._id}}
  <h3>My Friends</h3>
  {{else}}
  <h3>{{user.name}}'s Friends</h3>
  {{/ifCond}}
  {{#if friends}}
    {{#each friends }}
      {{#each ../users}}
        {{#ifCond ../this._id 'equals' this._id}}
        <div>
          <p><a href="/profile/{{this._id}}">{{ this.name }}</a><p>
        </div>
        {{/ifCond}}
      {{/each}}
    {{/each}}
  {{else}}
  <p>No friends to show.</p>
  {{/if}}
</div>

{{#ifCond user._id 'equals' currentUser._id}}
<div name="friendRequests" class="loadFriendRequests">
  <h3>My Friend Requests</h3>
  {{#if friendRequests}}
  {{#each friendRequests}}
    {{#each ../users}}
      {{#ifCond ../this._id 'equals' this._id}}
      <div>
        <form method="post" action="/users/acceptFriend/">
          <div class="form-group">
          <p><a href="/profile/{{this._id}}">{{ this.name }}</a> <a class="label label-primary" id="acceptFriend" name="acceptFriend" href="/users/acceptFriend/{{this._id}}">+Add Friend</a></p>
          </div>
        </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
  {{else}}
  <p>No friend requests.</p>
  {{/if}}
  </div>
{{/ifCond}}

<div>
  <a href="/posts/loadPosts/{{user._id}}">Load Posts</a>
</div>
<div>
  <a href = "#" onclick="hidePosts();"> Hide Posts</a>
</div>

<div class="loadthesePosts">
  {{# each posts }}
    <p><a href="/profile/{{this.userId}}">{{ this.author }}</a><p>
    <p>{{ this.date }}<p>
      <form method="post" action="/posts/editPost">
        <div class="form-group">
          <textarea class="form-control" id="PostText"  name="PostText" rows="10" readonly>{{this.text}}</textarea>
          <button type="button" id="editPost" class="postEditButton btn btn-primary">Edit Post</button>
          <input name="postIdentif" value="{{this._id}}"  style="display:none" />
          </div>
      <div class="form-group">
        <button type= "submit" class="saveButton btn btn-warning" >Save</button>
      </div>
      <p></p>
    </form>
    <form method="post" action="/comments/deletePost/">
      <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete Post</button>
        <input name="postIdentif" value="{{this._id}}"  style="display:none" />
      </div>
    </form>



  <form method="post" action="/comments/addComment/">
    Add a comment
    <div class="form-group">
      <textarea class="form-control" rows = "" id="commentTextField" name ="commentTextField" placeholder="Add Comment Here......"></textarea>
      <input name="postIdentif" value="{{this._id}}"  style="display:none" />

    </div>
    <div class="form-group">
    <button type="submit" class = "btn btn-default">Submit</button>
    </div>
    </form>
      {{#each ../comments}}
      {{#ifCond ../this._id '==' this.postId}}
      <div class="comment">
        <p><b><a href="/profile/{{this.userId}}">{{this.author}}</a>, {{this.date}}</b></p>
        <form method="post" action="/comments/editComment/">
          <div class="form-group">
            <textarea class="form-control" id="commentText"  name="commentText" readonly>{{this.text}}</textarea>
            <button type="button" class="commentEditButton btn btn-primary">Edit Comment</button>
            <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
            </div>
        <div class="form-group">
          <button type= "submit" class="saveButton btn btn-warning" >Save</button>
        </div>
        <p></p>
      </form>
      <form method="post" action="/comments/deleteComment/">
        <div class="form-group">
          <button class="btn btn-danger" type="submit">Delete Comment</button>
          <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
        </div>
      </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
</div>
