{{#ifCond user._id 'equals' currentUser._id}}
  <h2 class="page-header">My Profile</h2>
{{else}}
  <h2 class="page-header">{{user.name}}'s Profile</h2>
  {{#ifCond isFriend '==' false}}
    <a class="label label-primary" id="addFriend" name="addFriend" href="/users/addFriend/{{user._id}}">+Add Friend</a>
  {{/ifCond}}

{{/ifCond}}

{{#ifCond user.hasProfile '==' true}}
<img src="/uploads/{{user._id}}/profile/{{user._id}}.{{user.profExt}}" class="img-responsive" alt="My Profile Pic">
{{/ifCond}}

<a class="label label-warning" href="mailto:{{user.email}}?body={{currentUser.email}}">{{user.email}}</a>
<span class="label label-danger">{{user.campus}} campus</span>


{{#ifCond user._id 'equals' currentUser._id}}
    <a class="label label-success" href="/users/goToUpload/"> Upload a file</a>
    <a class="label label-danger" id="profileSettings" name="profileSettings" href="/profileSettings/{{user._id}}">Settings</a>
{{/ifCond}}

<div name="friendsList" class="loadFriendsList">
  {{#ifCond user._id 'equals' currentUser._id}}
  <h3>My Friends</h3>
  {{else}}
  <h3>{{user.name}}'s Friends</h3>
  {{/ifCond}}
  {{#if friends}}
    {{#each friends }}
      {{#each ../users}}
        {{#ifCond ../this._id 'equals' this._id}}
        <div>
          <p><a href="/profile/{{this._id}}">{{ this.name }}</a><p>
        </div>
        {{/ifCond}}
      {{/each}}
    {{/each}}
  {{else}}
  <p>No friends to show.</p>
  {{/if}}
</div>

<div name="friendRequests" class="loadFriendRequests">
{{#ifCond user._id 'equals' currentUser._id}}
  <h3>My Friend Requests</h3>
  {{#if friendRequests}}
  {{#each friendRequests}}
    {{#each ../users}}
      {{#ifCond ../this._id 'equals' this._id}}
      <div>
        <form method="post" action="/users/acceptFriend/">
          <div class="form-group">
          <p><a href="/profile/{{this._id}}">{{ this.name }}</a> <a class="label label-primary" id="acceptFriend" name="acceptFriend" href="/users/acceptFriend/{{this._id}}">+Add Friend</a></p>
          </div>
        </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
  {{else}}
  <p>No friend requests.</p>
  {{/if}}
  </div>
{{/ifCond}}

<div name="groupRequests" class="loadGroupRequests">
{{#ifCond user._id 'equals' currentUser._id}}
  <h3>My Group Requests</h3>
  {{#if groupInvites}}
  {{#each groupInvites}}
    {{#each ../groups}}
      {{#ifCond ../this '==' this._id}}
      <div>
        <form method="post" action="/groups/joinGroup/{{this._id}}">
          <div class="form-group">
          <p><a href="/group/{{this._id}}">{{ this.name }}</a> <a class="label label-primary" id="acceptInvite" name="acceptInvite" href="/groups/joinGroup/{{this._id}}">+Join Group</a></p>
          </div>
        </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
  {{else}}
  <p>No group invites.</p>
  {{/if}}
  </div>
{{/ifCond}}

{{#ifCond user.hasResume '==' true}}
{{#ifCond user._id 'equals' currentUser._id}}
<h3>My Resume</h3>

{{#ifCond user.resExt 'contains' 'doc'}}

<iframe class = "resume" src="/uploads/{{user._id}}/resume/{{user._id}}.pdf" width="500" height="500"></iframe>
{{else}}
<iframe class = "resume" src="/uploads/{{user._id}}/resume/{{user._id}}.{{user.resExt}}" width="500" height="500"></iframe>
{{/ifCond}}


{{else}}
<h3>{{user.name}}'s Resume</h3>
{{#ifCond user.resExt 'contains' 'doc'}}

<iframe class = "resume" src="/uploads/{{user._id}}/resume/{{user._id}}.pdf" width="500" height="500"></iframe>
{{else}}
<iframe class = "resume" src="/uploads/{{user._id}}/resume/{{user._id}}.{{user.resExt}}" width="500" height="500"></iframe>
{{/ifCond}}

{{/ifCond}}
{{/ifCond}}

<div name="courseList" class="loadCourses">
  {{#ifCond user._id 'equals' currentUser._id}}
    <h3>My Schedule</h3>
  {{else}}
    <h3>{{user.name}}'s Schedule</h3>
  {{/ifCond}}
  {{#if schedule}}
    {{#each schedule }}
      {{#ifCond ../user._id '==' this.userId}}
        <div class="jumbotron">
          <h3>{{ this.name }}</h3>
          <p>{{ this.monday }}</p>
          <p>{{ this.tuesday }}</p>
          <p>{{ this.wednesday }}</p>
          <p>{{ this.thursday }}</p>
          <p>{{ this.friday }}</p>
          <p>{{ this.slot }}</p>
        </div>
      {{/ifCond}}
    {{/each}}
  {{else}}
    <p>No courses to show.</p>
  {{/if}}
</div>

<button type="submit" class="btn btn-info" onclick="displayPostField()">Create a Post</button>
<br><br>

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<h3 id="postHeader" style="display:none">Add a new post</h3>
<form class="form-horizontal" method="post" action="/posts/post/{{user._id}}">
  <div class="form-group">
  <textarea class="form-control" rows="3" id="postField" name="postField" style="display:none"></textarea>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="postSubmit" style="display:none">Submit</button>
    </div>
  </div>
</form>


<div>
  <a href="/posts/loadPosts/{{user._id}}">Load Posts</a>
</div>
<div>
  <a href = "#" onclick="hidePosts();"> Hide Posts</a>
</div>

<div class="loadthesePosts">
  {{# each posts }}
  <div class="jumbotron">
    {{#ifCond this.author '==' ../user.name}}
      <p><a href="/profile/{{this.userId}}">{{ this.author }}</a><p>
    {{else}}
      <p><a href="/profile/{{this.userId}}">{{ this.author }}</a> : {{../user.name}}<p>
    {{/ifCond}}
    <p>{{ this.date }}<p>
      <form method="post" action="/posts/editPost">
        <div class="form-group">
          <textarea class="form-control" id="PostText"  name="PostText" rows="10" readonly>{{this.text}}</textarea>
          {{#ifCond this.userId '==' ../currentUser._id}}
          <button type="button" id="editPost" class="postEditButton btn btn-primary">Edit Post</button>
          {{/ifCond}}
          <input name="postIdentif" value="{{this._id}}"  style="display:none" />
          </div>
      <div class="form-group">
        {{#ifCond this.userId '==' ../currentUser._id}}
        <button type= "submit" class="saveButton btn btn-warning" >Save</button>
        {{/ifCond}}
      </div>
      <p></p>
    </form>
    <form method="post" action="/comments/deletePost/">
      <div class="form-group">
        {{#ifCond this.userId '==' ../currentUser._id}}
        <button class="btn btn-danger" type="submit">Delete Post</button>
        {{else}}
          {{#ifCond ../user._id 'equals' ../currentUser._id}}
            <button class="btn btn-danger" type="submit">Delete Post</button>
          {{/ifCond}}
        {{/ifCond}}
        <input name="postIdentif" value="{{this._id}}"  style="display:none" />
      </div>
    </form>
  </div>



  <form method="post" action="/comments/addComment/">
    Add a comment
    <div class="form-group">
      <textarea class="form-control" rows = "" id="commentTextField" name ="commentTextField" placeholder="Add Comment Here......"></textarea>
      <input name="postIdentif" value="{{this._id}}"  style="display:none" />

    </div>
    <div class="form-group">
    <button type="submit" class = "btn btn-default">Submit</button>
    </div>
    </form>
      {{#each ../comments}}
      {{#ifCond ../this._id '==' this.postId}}
      <div class="comment">
        <p><b><a href="/profile/{{this.userId}}">{{this.author}}</a>, {{this.date}}</b></p>
        <form method="post" action="/comments/editComment/">
          <div class="form-group">
            <textarea class="form-control" id="commentText"  name="commentText" readonly>{{this.text}}</textarea>
            <button type="button" class="commentEditButton btn btn-primary">Edit Comment</button>
            <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
            </div>
        <div class="form-group">
          <button type= "submit" class="saveButton btn btn-warning" >Save</button>
        </div>
        <p></p>
      </form>
      <form method="post" action="/comments/deleteComment/">
        <div class="form-group">
          <button class="btn btn-danger" type="submit">Delete Comment</button>
          <input name="commentIdentif" value="{{this._id}}"  style="display:none" />
        </div>
      </form>
      </div>
      {{/ifCond}}
    {{/each}}
  {{/each}}
</div>
