<h2 class="page-header">{{user.name}}'s Profile</h2>

<a class="badge badge-success" href="mailto:{{user.email}}?body={{currentUser.email}}">{{user.email}}</a>
<span class="badge badge-primary">{{user.campus}} campus</span>
